/Revision/FirstLesson/nbproject/private/
/Revision/FirstLesson/build/
/Revision/SecondLesson/nbproject/private/
/Revision/SecondLesson/build/
/Revision/JAVA_REVISION_BASICS/nbproject/private/
/Revision/JAVA_REVISION_OBJECTS/nbproject/private/
/Revision/ExcuseMe_test/nbproject/private/
/Revision/JAVA_REVISION_OBJECTS/build/
/Revision/ExcuseMe_test/build/
/Revision/MySQLConnector/nbproject/private/
