# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
/bin/
/TermThree_11/nbproject/private/
/TermThree_11/build/
/NetBeans/MoveText/nbproject/private/
/NetBeans/MoveText/build/
/NetBeans/CalculatorProj/nbproject/private/
/NetBeans/CalculatorProj/build/
/NetBeans/CalculatorProj/dist/
/NetBeans/ArraysNotes/nbproject/private/
/NetBeans/ArraysNotes/build/
/NetBeans/StringArrayProj/nbproject/private/
/NetBeans/StringArrayProj/build/
/NetBeans/JavaApplication29/nbproject/private/
/NetBeans/JavaApplication29/build/
/NetBeans/OrbisFileCreator/nbproject/private/
/NetBeans/OrbisFileCreator/build/
/SortingMethods/nbproject/private/
/NetBeans/SortingArrays/nbproject/private/
/NetBeans/SortingArrayMethods/nbproject/private/
/NetBeans/SortingArrayMethods/build/
/NetBeans/s/nbproject/private/
/NetBeans/ArrayListSorting/nbproject/private/
/NetBeans/ArrayListSorting/build/
/JavaNotes_V1/nbproject/private/
/NetBeans/SimpleBubbleSort/nbproject/private/
/NetBeans/SimpleBubbleSort/build/
